a {
    color: azure;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #1a1a1a;
    color: #bbb;
}

.center-footer {
    font-size: 0.8rem;
}