* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6;
    background: linear-gradient(to top, #121212, #333);
}

html {
    scroll-behavior: smooth;
}


.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/teclado.webp');
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background-size: cover;
    background-position: center, top;
    height: 100%;
    text-align: center;
    color: white;
    padding: 0px;
    margin-top: 0;
}

.minha-img {
    border-radius: 50%;
    border: 3px solid white;
    width: 400px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ul-nav{
    margin-top: 80px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    color: wheat;
    font-size: 18px;
    border-radius: 5px;
}

.ul-nav li a {
    color: wheat;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    color: wheat;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    
}

.ul-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
}