.apresent {
    margin-top: 20px;
    color: white;
}

.ola {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.nome {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.analist {
    font-size: 1.2rem;
}

#scrollar {
    font-size: 0.9rem;
    margin-top: 50px;
    font-family: 'Georgia', serif;
    text-align: center;
    color: #bbb;
    position: relative;
}

.scroll-arrow {
    font-size: 3rem;
    margin-top: 10px;
    animation: scroll-down 1.5s infinite;
}

@keyframes scroll-down {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(10px); opacity: 0.5; }
    100% { transform: translateY(0); opacity: 1; }
}

#sobre {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 30px;
    margin-top: -50%;
    max-width: 1000px;
    margin: 200px auto;
    text-align: center;
}

.project {
    margin-top: 10%;
    text-align: center;
}

.projetos-h2 {
    border-top: solid 1px white;
    margin-top: 1%;
}

.projetos {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projetos li {
    text-decoration: underline;
    list-style: none;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: solid 1px white;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.projetos li:hover {
    background-color: #333;
    transform: scale(1.05);
}

.conteudo-logos {
    border-top: solid 1px white;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.hability-1080{
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    top: 50%;
    left: 60px;
    transform-origin: center left;
    margin-top: 8%;
}

.title-hability {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: -60px;
    transform-origin: top left;
}

.logo-item {
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.logo-item:hover {
    background-color: #333;
    transform: scale(1.05);
}

.logo-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.logo-item p {
    font-size: 1.2rem;
}
